* {
    margin: 0;
    padding: 0;
    background-color: #000000;
    box-sizing: border-box;
    color: #fff;
}

body {
    font-family: Candara, sans-serif;
    margin:20px;
}

#header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 10px 2%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    width: 100px;
    mix-blend-mode: multiply;
}

.backg {
    width: 70%;
    float: right;
    margin-right: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: bolder;
}

#logo {
    color: #fff;
    font-weight: bolder;
    font-size: 20px;
}
.about-col-1 img{
    width:70%;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 2.5px;
    background: #957186;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.2s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    color: #fff;
    margin: 10%;
    text-align: center;
}

.header-text div {
    font-size: 50px;
}

.header-text span {
    color: #61b390;
    font-size: 60px;
    font-weight: bolder;
}

#about {
    padding: 50px 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin: 10px 0;
}

.about-col-1,
.about-col-2 {
    flex-basis: 100%;
    margin-bottom: 20px;
}

.about-col-2 {
    align-items: center;
}

.aboutme {
    font-size: 36px;
    font-weight: 600;
    color: #61b390;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
    flex-wrap: wrap;
}

.title-tab {
    margin-right: 20px;
    position: relative;
    font-weight: 500;
    cursor: pointer;
}

.title-tab::after {
    content: '';
    width: 0;
    height: 2.5px;
    background: #957186;
    position: absolute;
    bottom: -8px;
    left: 0;
    transition: 0.5s;
}

.title-tab.active-link::after {
    width: 50%;
}

.tab-contents ul {
    padding: 0;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
    font-size: 14px;
}

.tab-contents ul li span {
    color: #957186;
    font-size: 16px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

#Projects {
    padding: 30px 0;
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

#imageContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 20px;
    margin-top: 40px;
}

.box {
    background: #000000;
    border-radius: 2%;
    border: 0.1px solid grey;
    padding: 20px;
}

.box:hover {
    opacity: 0.7;
}

.project-list h2 {
    color: #957186;
}

.project-list p {
    font-size: 15px;
    color: white;
}

.heading {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.heading img {
    max-width: 60px;
    margin-right: 10px;
}

#git {
    background-color: #000000;
    float: right;
    margin-bottom: 5px;
    font-size: 30px;
}

#imageContainer img {
    max-width: 60px;
    background-color: #000000;
    margin: 10px 0;
}

#languages {
    margin: 20px;
    padding: 50px;
}

.sub-title,
.imagecont {
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    color: #61b390;
    text-decoration: none;
}
#blood{
    font-size: 30px; /* Adjust size as needed */
  /* Adjust margin as needed */
    display: inline-block;
    transition: transform 0.5s;
    max-width: 30%; /* Ensures the icon doesn't exceed its container width */
    height: auto; }
#icons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.contact-left {
    margin: 2%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.social-icons a i {
    font-size: 30px;
    margin-bottom: 30px;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons i:hover {
    color: grey;
    transform: translateY(-5px);
}

.contact-left a {
    margin: 10px 3px;
    text-decoration: none;
}

.contact-left a:hover {
    opacity: 0.5;
}

.contact-left i {
    margin: 2px;
    text-decoration: none;
}

.btn.btn2 {
    display: inline-block;
    background-color: #957186;
    padding: 5px;
    width: 120px;
    height: 40px;
    text-align: center;
    margin: auto;
    border-radius: 6px;
}

.copyright p {
    background-color: black;
    text-align: center;
    padding: 10px;
}

/* Media Queries */
@media (min-width: 600px) {
    .header-text {
        text-align: left;
    }

    .about-col-1,
    .about-col-2 {
        flex-basis: 45%;
    }

    .aboutme {
        font-size: 48px;
    }

    .tab-titles {
        justify-content: space-around;
    }

    .title-tab {
        margin-right: 50px;
    }
}

@media (min-width: 800px) {
    .project-list {
        flex-direction: row;
    }

    .box {
        flex-basis: 30%;
    }
}

@media (min-width: 1024px) {
    .container {
        padding: 10px 5%;
    }

    .header-text div {
        font-size: 60px;
    }

    .header-text span {
        font-size: 70px;
    }

    .about-col-1,
    .about-col-2 {
        flex-basis: 48%;
    }
}
